{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-combo-1.html' %}
<div class="govuk-grid-row">

  <form action="/New/EM_6621_01/02_ask_utr" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "What do you want to add?",
  name: "What do you want to add?",
  fieldset: {
    legend: {
      text: "What do you want to add?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Corporation Tax",
      text: "Corporation Tax"
    },
    {
      value: "PAYE",
      text: "Employers or intermediaries, for example PAYE for employers or CIS"
    },
    {
      value: "SA",
      text: "Self Assessment for individuals, sole traders, partnerships or trusts, or Making Tax Digital for Income Tax"
    },
    {
      value: "VAT",
      text: "VAT and VAT services, for example EC Sales List"
    },
    {
      value: "Other",
      text: "Other taxes, duties or schemes"
    }
  ]
}) }}

      <button type="submit" class="govuk-button">
        Continue
  </button>
      <!-- <a class="govuk-button" href="wrong-credentials" role="button">Continue</a> -->
    </div>
  </form>
</div>


{% endblock %}
