{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-combo-1.html' %}
<div class="govuk-grid-row">

  <form action="/New/EM_6621_01/06_error" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-6">
            What National Insurance number did you use to register for Self Assessment?
          </h1>
        </legend>
        <p class="govuk-hint govuk-!-padding-bottom-0">For example, QQ 12 34 56 C.</p>

        <div class="govuk-form-group">
          <input class="govuk-input govuk-input--width-10 " type="text">
        </div>
      </fieldset>
      <p class="govuk-body "><a href="https://www.gov.uk/lost-national-insurance-number" target="_blank">I cannot
        find my National Insurance number (opens in new tab)
</a></p>


      <button type="submit" class="govuk-button">
        Continue
      </button>
      <!-- <a class="govuk-button" href="wrong-credentials" role="button">Continue</a> -->
    </div>
  </form>
</div>


{% endblock %}
