{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a1.html' %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/back.html" %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which of these best describes you??
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="describe-you-1" name="describe-you" type="radio" value="Individual-sole-trader">
              <label class="govuk-label govuk-radios__label" for="which-of-these-best-describes-you">
                Individual or sole trader
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="describe-you-2" name="describe-you" type="radio" value="partnership">
              <label class="govuk-label govuk-radios__label" for="which-of-these-best-describes-you-2">
                Partnership
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="describe-you-3" name="describe-you" type="radio" value="trust">
              <label class="govuk-label govuk-radios__label" for="which-of-these-best-describes-you-3">
                Trust
              </label> </div>
          </div>
        </fieldset>
      </div>

      <a class="govuk-button"  href="/New/EM_6621_01/05_enter_nic" class="govuk-button">Continue</a>

    </div>

  </form>

</div>

{% endblock %}
