{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a1.html' %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
       The information you gave does not match an HMRC record
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
<p class="govuk-body govuk-!-margin-bottom-2">This might mean that some of the details you entered were incorrect.
      <p class="govuk-body govuk-!-margin-bottom-2">You can try entering the details again, or <a href="/New/EM_6621_01/07_logout">sign in
          with a different account</a>.

    </div>

    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-button"  href="/New/EM_6621_01/05_enter_nic" class="govuk-button">Try again</a>
    </div>
  </div>

{% endblock %}
